@font-face{
    font-family: robo;
    src: url(./fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}
.{
    font-family: 'Poppins', sans-serif;
}
body{
    background: black;
}

@font-face{
    font-family: play;
    src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}

.logosite{
    width: 40px;
    margin-right: 5px;
    display: flex;
}

a
{
    text-decoration: none;
}
.logo
{
    display: flex;
}

.navbar
{
    display: flex;
    padding: 15px;
}

.home,.about{
    margin-right: 20px;
}

.home,.about,.contact{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.top
{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.streamixx{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
}

.welcome{
    color: white;
    height: 300px;
    font-size: 10.5vw;
}

.welcomepage
{
    height: 300px;
}

.image
{
    height: 300px;
    background-image: url(Welcome.jpg);
    background-size: cover;
    z-index: -1;
    position: relative;
    top: -305px;
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    0%   {background-color:red; left: -2000px;}
    100%  {background-color:yellow; left: 0;}
}

@media (max-width:768px)
{
    .top
    {
        flex-direction: column;
    }

    .navbar
    {
        margin-top: 70px;
        justify-content: center;
    }

    .home,.about
    {
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .home,.about,.contact
    {
        margin-left: -10px;
    }

    .streamixx
    {
        justify-content: center;
    }
}