@font-face{
    font-family: robo;
    src: url(./fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}
body{
    font-family: 'Poppins';
}
body{
    background: black;
}

@font-face{
    font-family: play;
    src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}

.logosite{
    width: 40px;
    margin-right: 5px;
    display: flex;
}

a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.logo
{
    display: flex;
}

.navbar
{
    display: flex;
    padding: 15px;
    text-shadow: 0 0 15px yellow;
    font-weight: 600;
    gap: 50px;
}

.home,.about{
    margin-right: 20px;
}

.home,.about,.contact{
    font-size: 25px;
    font-family: 'Poppins';
    color: white;
}

.top
{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.streamixx{
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    display: flex;
    letter-spacing: 5px;
}

.welcome{
    color: white;
    height: 300px;
    font-size: 8vw;
    font-family: 'Poppins';
    text-align: center;
    margin-top:140px;
    font-weight: 700;
    text-shadow: 0 0 15px #ff3131;
}

.welcomepage
{
    height: 300px;
}

.image1
{
    height: 150px;
    width: 100%;
    background-image: url(Long1.png);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 150px;
    animation-name: example1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.image2
{
    height: 150px;
    width: 100%;
    background-image: url(Long1.png);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 150px;
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.image3
{
    height: 150px;
    width: 100%;
    background-image: url(Long1.png);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 300px;
    animation-name: example3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.image4
{
    height: 150px;
    width: 100%;
    background-image: url(Long1.png);
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 300px;
    animation-name: example4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example1 {
    0%   {background-color:red; left: -100%;}
    100%  {background-color:yellow; left: 0%;}
}

@keyframes example2 {
    0%   {background-color:red; left: 0%;}
    100%  {background-color:yellow; left: 100%;}
}

@keyframes example3 {
    0%   {background-color:red; left: 100%;}
    100%  {background-color:yellow; left: 0%;}
}

@keyframes example4 {
    0%   {background-color:red; left: 0%;}
    100%  {background-color:yellow; left: -100%;}
}

@media (max-width:768px)
{
    .top
    {
        flex-direction: column;
    }

    .navbar
    {
        margin-top: 70px;
        justify-content: center;
    }

    .home,.about
    {
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .home,.about,.contact
    {
        margin-left: -10px;
    }

    .streamixx
    {
        justify-content: center;
    }

    .welcomepage
    {
        align-content: center;
    }

    .image1
    {
        height:25%;
        top: 160px;
    }
    
    .image2
    {
        height: 25%;
        top: 160px;
    }

    .image3
    {
        height:25%;
        top: 320px;
    }
    
    .image4
    {
        height: 25%;
        top: 320px;
    }

    .welcome
    {
        width: 300px;
        align-content: center;
        height: 330px;
        position: absolute;
        top: 60px;
        left: 30px;
        font-size: 60px;
    }
}